<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div id="twitterContainer">
      <p>Twitter Feed</p>
    <div id="tweets">
    </div>
  </div>
  </div>
  <div class="col-xs-4">
    <form method="POST" action="newTweet" class="form">
      <input type="text" class="form-control" name="tweet" size="140" maxlength="140">
      <input type="hidden" class="lat" name="lat">
      <input type="hidden" class="lng" name="lng">
      <input type="submit" class="btn btn-default">
    </form>
  </div>
  <div class="col-xs-4">
    <a class="twitter-timeline" href="https://twitter.com/search?q=anerdymous404" data-widget-id="681978086871535616" data-chrome="nofooter" data-aria-polite="assertive">Tweets by anerdymous404</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  </div>
</div>
