html, body{
    height:100%;
    margin:0;
    padding:0;
    background-color: rgb(38, 55, 79);
}

body { margin:0; padding:0; }

#map {
  top:0;
  bottom:0;
  height: 400px;
  width:100%;
  border: solid;
}
